body{
font-family: "acumin-pro-extra-condensed";
text-transform: capitalize;
}

.homepage #logo {
  font-family: "abril-display";
  font-size: 255%;
}

h4 {
  font-family: "futura-pt";
  font-weight: bold;
  text-transform: uppercase;
}

#topban h2 {
  font-family: "league-gothic";
  text-transform: capitalize;
}

body {
  background-image: url("https://static.pexels.com/photos/14676/pexels-photo-14676.png");
  background-size: cover;
  color: white;
      background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  

.homepage #center .ban{
  background-color: rgba(255,71, 0, 0.4);
  height:100%;
  margin-top: 0;
  margin-bottom: 0;
}
 
 #leftbar{
   background-color:rgba(173, 60, 27, 0.6);
   padding-top: 30px;
    padding-bottom: 30px;
 }
 
 .homepage #rightbar {
      padding-top: 30px;
    padding-bottom: 30px;
 }
 
  .w1024.homepage #pagecontainer {
    background:rgba(6,56,119,0.4);
        padding-left: 20px;
          }
          
          .homepage #pagecontainer{
            padding: 0;
          }
  
  .homepage .col ul{
    background-color: transparent;
  }
  
    a:visited,
  a:active,
  a:link{
    text-decoration: none;
    color: white;
  }
  
  a:hover, {
      text-decoration: none;
    color: yellow;
  }
  
  .homepage footer {
    background-color: rgb(0,0,0);
  }

.cal td {
    background: transparent;}
    
    .cal td.today {
    background: #964001;}
    
    .homepage #postlks #post {
    background-color: #964001;}
    
    #topban .sublinks li {
    background: #964001;}
    
    #topban .sublinks a {
    background: transparent;}
    
    .homepage #rightbar h5 {
    color: #000;}
    
    .linklike {
    color: #964001;}

.homepage #rightbar h5 {
    background: rgb(8, 187, 171);
  padding-right: 5px;
  padding-left: 5px;
}

