body{
	margin:0;
}

header{
	font-family:"museo-slab",serif;
	background-color: black;
	opacity: 0.5;
	color:white;
	padding: 10px;
	margin:0;
	width:100%;
	position:fixed;
}

nav{
	float:right;
	font-family:"museo-slab",serif;
	background-color: black;
	opacity: 0.5;
	color:white;
	z-index:9999999999;

}

.todo{
	max-height: 7100px;
}


a{
	text-decoration: none;
	color: black;
}
h1{
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 14em;
	color:rgba(123, 123, 123, 0.8);
	position:absolute;
	margin:0 auto;
	top:500px;
	right:143px;
}
h2{
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 7em;}
h3{
	font-family:"museo-slab",serif;
}
h4{
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 2.5em;
	color:black;
	opacity:.85;
	margin: 0px;

}



.photo1{
	background-image: url(fabric1.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 900px;
    z-index: 3;
}	
.photo2{
	background-image: url(fabric4.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 900px;
    z-index: 3;
}
.photo3{
	background-image: url(fabric3.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 900px;
    z-index: 3;
}
.photo4{
	background-image: url(crystal.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 800px;
    z-index: 3;
    position:relative;
}




.landing{
	text-align: center;
	min-height: 900px;
	position:relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    z-index: 2;
}
.persona{
	position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
    min-height: 840px;
}
.essence{
	position:relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
    min-height: 840px;
}
.contact{
	position:relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
    min-height: 840px;
}





#luchobox{
	font-family:"proxima-nova",sans-serif;
	color:white;
	background-color: rgba(116,125,125,0.64);
	width:500px;
	text-align:center;
	border-radius: 10px;
	padding: 10px;
	margin:0 auto;
	position:absolute;
	right:479px;
	top:240px;
	border:30px;
	z-index: 4;
}
#sustainable{
	color:white;
	background-color: rgba(116,125,125,0.64);
	width:200px;
	text-align:center;
	border-radius: 10px;
	padding: 10px;
	margin:0 auto;
	position:absolute;
	top:450px;
	right:1110px;
	transition:all 3s;
	z-index: 4;
}
#dream{
	color:white;
	background-color: rgba(116,125,125,0.5);
	width:200px;
	text-align:center;
	border-radius: 10px;
	padding: 10px;
	margin:0 auto;
	position:absolute;
	top:450px;
	right:800px;
	transition:all 3s;
	z-index: 4;
}
#art{
	color:white;
	background-color: rgba(116,125,125,0.5);
	width:200px;
	text-align:center;
	border-radius: 10px;
	padding: 10px;
	margin:0 auto;
	position:absolute;
	top:450px;
	right:472px;
	transition:all 3s;
	z-index: 4;
}
#functionality{
	color:white;
	background-color: rgba(116,125,125,0.5);
	width:200px;
	text-align:center;
	border-radius: 10px;
	padding: 10px;
	margin:0 auto;
	position:absolute;
	top:450px;
	right:150px;
	transition:all 3s;
	z-index: 4;
}
#dream:hover{
	width:300px;
	top:350px;
	background-color:rgba (116,125,116,1);
}
#art:hover{
	width:300px;
	top:350px;
	background-color:rgba (116,125,116,1);
}
#functionality:hover{
	width:300px;
	top:350px;
	background-color:rgba (116,125,116,1);
}
#sustainable:hover{
	width:300px;
	top:350px;
	background-color:rgba (116,125,116,1);
}




.valueprime{
	width:400px;
	position:absolute;
	background-color: rgba(116,125,125,0.5);
	border-radius: 20px;
	padding:5px;
	top:150px;
	text-align: center;
	right:650px;
	transition:all 3s;
	z-index: 3;
}
.valuesec{
	width:400px;
	position:absolute;
	background-color: rgba(116,125,125,0.5);
	border-radius: 20px;
	padding:5px;
	top:150px;
	text-align: center;
	right:150px;
	transition:all 3s;
	z-index: 3;
}
.valuethird{
	width:400px;
	position:absolute;
	background-color: rgba(116,125,125,0.5);
	border-radius: 20px;
	padding:5px;
	top:300px;
	text-align: center;
	right:850px;
	transition:all 3s;
	z-index: 3;
}
.valuequad{
	width:400px;
	position:absolute;
	background-color: rgba(116,125,125,0.5);
	border-radius: 20px;
	padding:5px;
	top:300px;
	text-align: center;
	right:350px;
	transition:all 3s;
	z-index: 3;
}
.valueprime:hover{
	top:410px;
	width: 700px;
	right:330px;
	font-size: xx-large;
	background-color: lightgray;
	color:white;
	z-index: 3;
}
.valuesec:hover{
	top:410px;
	width: 700px;
	right:330px;
	font-size: xx-large;
	background-color: lightgray;
	color:white;
	z-index: 3;
}
.valuethird:hover{
	top:410px;
	width: 700px;
	right:330px;
	font-size: xx-large;
	background-color: lightgray;
	color:white;
	z-index: 3;
}
.valuequad:hover{
	top:410px;
	width: 700px;
	right:330px;
	font-size: xx-large;
	background-color: lightgray;
	color:white;
	z-index: 3;
}




.name{
	font-family: "balboa-plus-primary",sans-serif;
	color:black;
	position: absolute;
	top: 150px;
    right: 30px;
    font-size: 5em;
    transition:all 3s;
}
.phone{
	font-family: "balboa-plus-primary",sans-serif;
	color:black;
	position: absolute;
	top: 250px;
    right: 300px;
    font-size: 5em;
    transition:all 3s;
}
.email{
	font-family: "balboa-plus-primary",sans-serif;
	color:black;
	position: absolute;
	top: 350px;
    right: 390px;
    font-size: 5em;
    transition:all 3s;
}
.instagram{
	font-family: "balboa-plus-primary",sans-serif;
	color:black;
	position: absolute;
	top: 450px;
    right: 821px;
    font-size: 5em;
    transition:all 3s;
}
.name:hover{
	right:500px;
	color: red;
	font-size: 6em;
}
.phone:hover{
	right:500px;
	color: red;
	font-size: 6em;
}
.email:hover{
	right:500px;
	color: red;
	font-size: 6em;
}
.instagram:hover{
	right:500px;
	color: red;
	font-size: 6em;
}
.gracias{
	font-family: "balboa-plus-primary",sans-serif;
	width: 350px;
	font-size: 9em;
	text-align: left;
}

.secname{
	color:rgba(123, 123, 123, 0.8);
	text-align: center;
	margin-top: 46px;
	margin-bottom: 650px;
}


.secname:hover




