body{
	margin:0;
}

header{
	font-family:"museo-slab",serif;
	background-color: black;
	opacity: 0.5;
	color:white;
	padding: 10px;
	margin:0;
	width:100%;
	position:fixed;
}

nav{
	float:right;
	font-family:"museo-slab",serif;
	background-color: black;
	opacity: 0.5;
	color:white;

}
h1{
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 14em;
	color:black;
	text-align: center;
}
h2{
	font-family: "balboa-plus-primary",sans-serif;
	font-size: 7em;
	color:black;
	text-align: center;
}
h3{
	font-family:"museo-slab",serif;
}
.photo1{
	background-image: url(fabric1.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index:99999;
}	
.photo2{
	background-image: url(crystal.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.photo3{
	background-image: url(fabric3.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.photo4{
	background-image: url(crystal2.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
}
.landing{
	text-align: center;
}
.persona{
	position: relative;
}
#luchobox{
	font-family:"proxima-nova",sans-serif;
	color:white;
	background-color: rgba(58, 90, 76, 0.84);
	width:500px;
	text-align:center;
	border-radius: 10px;
	padding: 10px;
	margin:0 auto;
	position:absolute;
	right:450px;
	top:240px;
	border:30px;
}
