 #home{
        padding: 50px;
        background-image: url(http://i.imgur.com/ME50yMh.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
 #intro{
	width: 30%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 2rem;
	border: 4px double rgba(253, 250, 255, 0.73);
	background: rgba(0,0,0,0.3);
	font-family: "casablanca-urw-n3","casablanca-urw", sans-serif;
font-style: normal;
font-weight: 300;
	color:white;
	font-size: 25px;
    position: relative;
    left: 700px;
    animation: fadeInLeft 3s;
 }
h1 {
  font-family: "stymie-dc-d";
  font-size:72px;
  color: white;
  animation-name:fadeIn;
  animation-duration:4s;
  }
  #mvision{
        padding: 50px;
        
        background-color: #ff8f00;
    }
    #copy{
      width: 50%;
  margin-top: 5%;
  margin-left: 5%;
  padding: 2rem;
  border: 6px double rgba(253, 250, 255, 0.73);
  background: rgba(0,0,0,0.3);
  font-family: "casablanca-urw-n3","casablanca-urw", sans-serif;
  font-style: normal;
  font-weight: 300;
  color:white;
  font-size: 25px;
  position:relative;
  left:200px;
  text-align:center;
  top: -50px;
  animation:fadeInDown 3s ease-in ;
    }
   #about{
        padding: 50px;
        background-image: url(http://i.imgur.com/ME50yMh.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    #third{
    width: 30%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 2rem;
	border: 4px double rgba(253, 250, 255, 0.73);
	background: rgba(0,0,0,0.3);
	font-family: "casablanca-urw-n3","casablanca-urw", sans-serif;
	font-style: normal;
	font-weight: 300;
	color:white;
	font-size: 25px;
	position:relative;
	left:700px;
  text-align: right;
  animation: mondaLeft 3s ease-in 2s;
    }
      #contact{
        padding: 50px;
        background-color: #ff8f00;
    }
    #info{
  width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  padding: 2rem;
  border: 6px double rgba(253, 250, 255, 0.73);
  background: rgba(0,0,0,0.3);
  font-family: "casablanca-urw-n3","casablanca-urw", sans-serif;
  font-style: normal;
  font-weight: 300;
  color:white;
  font-size: 25px;
  position:relative;
  left:450px;
  text-align:center;
    }


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  25%{
    opacity:0.5;
  }
  50%{
    opacity:0;
  }
  75%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeInLeft{
  0%{
    left: -990px;
    opacity: 0;
  }
  50%{
    left:80px;
    opacity: 0.3;
  }
  75%{
    left:480px;
    opacity: 0.6;
  }
  100%{
    left:700px;
    opacity:1;
  }
}
@keyframes mondaLeft{
    0%{
    left: -990px;
    opacity: 0;
  }
  50%{
    left:80px;
    opacity: 0.3;
  }
  75%{
    left:480px;
    opacity: 0.6;
  }
  100%{
    left:700px;
    opacity:1;
  }
}
@keyframes fadeInDown{
  0%{
    top: -300px;
    opacity: 0;
  }
  50%{
    top:200px;
    opacity: 0.3;
  }
  75%{
    top:-100px;
    opacity: 0.6;
  }
  100%{
    top:-50px;
    opacity:1;
  }
}
#logo{
	    width: 20%;
    margin: 0px;
    border: 0px;
    position: absolute;
    left: 200;
    top: 228px;
    opacity: 0.2;
}
