html{

}
body{
	margin: 0;
}
#biobox{
	color:#fff;
	width: 35%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 20px;
	border:7px double rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.2);
	font-family: "stymie-dc-d",sans-serif;
}
#landing{
	margin:0;
	background-size: cover;
	background: url("lan1.jpg");
	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-blend-mode:darken;
}

h1{
	margin-top: 0;
	text-align: center;
}
p{
	line-height: 1.6;
	font-family: "casablanca-urw-n3", "casablanca-urw";
	font-size: 20px;
	font-weight: 300;
}

@media all and (max-width: 770px){
	#landing{ display:none;}
}
