html{

}
body{
	margin: 0;
}
#biobox{
	color:#fff;
	width: 35%;
	margin-top: 5%;
	margin-left: 5%;
	padding: 20px;
	border:7px double rgba(255,255,255,0.5);
	background: rgba(0,0,0,0.2);

}
#landing{
	background-size: cover;
	background: url("lan1.jpg");
	background-repeat: no-repeat;
    	background-attachment: fixed;

}
#about{
	background-size: cover;
	background: url("lan1.jpg");
	background-repeat: no-repeat;
    	background-attachment: fixed;
}

#mvision{
	background-size: cover;
	background: url("lan0.jpg");
	background-repeat: no-repeat;
    	background-attachment: fixed;
}

#work{
	background-size: cover;
	background: url("lan3.jpg");
	background-repeat: no-repeat;
    	background-attachment: fixed;	
}

#contact{
	background-size: cover;
	background: url("lan4.jpg");
	background-repeat: no-repeat;
    	background-attachment: fixed;	
}


h1{
	text-align: center;
	font-family: "stymie-dc-d",sans-serif;
}

