body{
	font-family: "acumin-pro-extra-condensed";
}
h1{
	font-family: "bickham-script-pro-3";
	color: white;
	font-size: 8em;
}
h2{
	font-family: "madre-script";
	color:red;
}
h4{
	font-family: "memoriampro";
}
h5{
	font-family: "subway-new-york-std";
	text-transform: uppercase;
}

.intro{
	padding: 50px;
	background-image: url(http://1.bp.blogspot.com/-piyNdcxw1q4/VXnrhN7q5YI/AAAAAAAAL24/Z4-rhOdfgtI/s1600/Tattooed-Brides-Philadelphia-New-Jersey-6.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
.greet{
	padding:50px;

	background-image: url(NY3dUPdown2.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
.couple{
	padding: 50px;
	background-image: url(http://1.bp.blogspot.com/-piyNdcxw1q4/VXnrhN7q5YI/AAAAAAAAL24/Z4-rhOdfgtI/s1600/Tattooed-Brides-Philadelphia-New-Jersey-6.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.couple #cindy{
	text-align: right;
}
.couple #spencer{
	text-align: left;
}
p{
	text-align: center;
}
