body{
	font-family: "acumin-pro-extra-condensed";
}
h1{
	font-family: "bickham-script-pro-3";
	color: #FFDCDC;
	font-size: 10em;
	text-shadow: 1px 1px white;
}
h2{
	font-family: "madre-script";
	color:white;
	text-shadow: 2px 2px gray;
	font-size:4em;
}
h4{
	font-family: "memoriampro";
	font-size: 2em;
}
h5{
	font-family: "fatfrank";
	text-transform: uppercase;
	font-size:3em;
}
#see{
	margin-right: 50%;
	margin-left: 50%;
	background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0.2) 10%, rgba(0, 34, 62, 0.77) 90%) repeat scroll 0% 0%;
        height: 40px;
    width: 20%;
}

.intro{
	padding: 50px;
	background-image: url(http://1.bp.blogspot.com/-piyNdcxw1q4/VXnrhN7q5YI/AAAAAAAAL24/Z4-rhOdfgtI/s1600/Tattooed-Brides-Philadelphia-New-Jersey-6.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
.greet{
	padding:50px;

	background-image: url(NY3dUPdown2.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
.couple{
	padding: 50px;
	background-image: url(http://1.bp.blogspot.com/-piyNdcxw1q4/VXnrhN7q5YI/AAAAAAAAL24/Z4-rhOdfgtI/s1600/Tattooed-Brides-Philadelphia-New-Jersey-6.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#cindy{
	float: right;
	background: transparent;
}
#spencer{
}
p{
	text-align: center;
	font-size: 2em;
	color:gray
	text-shadow 0.1px 0px white;
}
